.sidebar {
  width: 250px;
  background:#f1effd;
  color: rgb(21, 17, 17);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.3s ease;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #60a5fa;
}

.sidebar a {
  text-decoration: none;
  color: #0a0e14;
  padding: 8px 10px;
  border-radius: 6px;
  transition: 0.2s ease;
}

.sidebar a:hover {
  background: #576375;
  color: white;
}

/* Mobile behavior */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }
}
